// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.bg-light{
  background-color: #00e3f7 !important;
}

a{
  color:blue;
}

h1, h2{
  margin: 20px;
  color: #17565c;
}
